.nav {
    background-color: #333;
    padding: 20px;
    color: #fff;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  
  .logo:hover {
    color: #ff8c00;
  }
  